.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #d3dbe0;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  height: 40px;
}
.main {
  margin-top: 45px;
  padding-bottom: 30px;
  flex: 1;
}
.header-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 40px;
}
.cards-count {
  font-size: x-small;
  margin: 0 5px;
}
.action-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-item {
  margin: 0 5px;
}
.image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  max-width: 100px;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
}
.cards-tray {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6e4e4;
}
.card {
  width: 18%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border: 3px solid #000000;
  margin: 1%;
}
.card-image-wrapper {
  height: 250px;
}
.card-image-wrapper img {
  width: 160px;
  height: 222px;
}
.card-details-wrapper {
  text-align: left;
  font-size: x-small;
}
.alerts {
  display: flex;
  justify-content: center;
  align-items: center;
}
